<% recommended_users.each do |recomonded_user| %>
  <div class="flex px-4 py-2">
    <div class="flex justify-center items-center w-10 mr-4">
      <%= link_to user_path(recomonded_user.name) do %>
        <%= image_tag 'default_user_icon.png', class: 'hover:brightness-95 transition duration-200' %>
      <% end %>
    </div>
    <div class="flex flex-col w-fit">
      <%= link_to user_path(recomonded_user.name) do %>
        <span class="text-lg font-bold hover:underline transition duration-200">
          <%= recomonded_user.name %>
        </span>
      <% end %>
      <%= link_to user_path(recomonded_user.name)  do %>
      <span class="text-md text-gray-500">
        @<%= recomonded_user.name %>
      </span>
      <% end %>
    </div>
  </div>
<% end %>
