<div class="flex justify-between">
  <div class=" basis-7/12 h-screen overflow-scroll">
    <div class="flex px-4 pt-1 h-14 border-b border-gray-100">
      <div class="flex items-center">
        <div class="flex justify-center items-center w-10 h-10 rounded-full hover:bg-gray-100 transition duration-200"
             data-controller="link"
             data-action="click->link#back">
          <div class="w-5">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-z80fyv r-19wmn03" style="color: rgb(15, 20, 25);"><g><path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path></g></svg>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center ml-8">
        <span class="text-xl font-bold">
          Post
        </span>
      </div>
    </div>
    <%= render 'post_detail', post:, user_name: post.user.name %>
    <%= render 'reply_form', new_reply: %>
    <%= turbo_frame_tag :posts do %>
      <% if replies.present? %>
        <% replies.each do |reply| %>
          <%= render 'posts/shared/post', post: reply, user_name: reply.user.name %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="flex justify-start basis-5/12 border-l p-8 border-gray-100">
    <div class="w-80 h-fit rounded-xl bg-gray-50">
      <div class="px-4 py-3">
        <span class="font-bold text-xl">You might like</span>
      </div>
      <div class="py-1">
        <%= render 'shared/recommended_user_list', recommended_users: %>
      </div>
    </div>
  </div>
</div>
